* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper-all {
  position: relative;
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.currency-body {
  position: relative;
  max-width: 50vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.currency-body__wrapper-currency-value {
  min-height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 10px;
  padding: 5px 10px;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.currency-body__wrapper-currency-value h2 {
  padding: 5px 0px;
}

.currency-body__wrapper-currency-rate {
  min-height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 10px;
  padding: 5px 10px;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.currency-body__wrapper-currency-rate h2 {
  padding: 5px 0px;
}

.currency-body__wrapper-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.currency-body__input-btn {
  position: relative;
  padding: 10px 15px;
  border: 1px solid grey;
  background-color: white;
  cursor: pointer;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.currency-body__input-btn:hover {
  background: #3989c9;
  color: #fff;
}

.currency-body__rate-btn {
  position: relative;
  padding: 10px 15px;
  border: 1px solid grey;
  background: white;
  cursor: pointer;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.currency-body__rate-btn:hover {
  background: #3989c9;
  color: #fff;
}

.btn_active {
  background: #3989c9;
  color: #fff;
}

.currency-body__currency-input {
  position: relative;
  margin: 10px 0px;
  font-size: 2em;
  border: 1px solid grey;
  padding: 0px 5px;
}

.currency-body__wrapper-rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.currency-body__view-rate {
  margin: 10px 0px;
  border: 1px solid grey;
  font-size: 2em;
  padding: 3px 5px;
  min-height: 36px;
}

.currency-body__currency-curse-input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.currency-body__currency-curse-rate {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.currency-body__all-currency-btn {
  padding: 10px 10px;
  margin-top: 10px;
  border: 1px solid grey;
  cursor: pointer;
  -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  bottom: 0px;
  left: 0px;
}

.currency-body__all-currency-btn:hover {
  background: #3989c9;
  color: #fff;
}

.currency-body__all-currency-wrapper {
  position: absolute;
  visibility: hidden;
  width: 50vw;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #fff;
  z-index: 1;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.all-currency-active {
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 500ms;
  transition: 500ms;
}

.currency-body__all-items {
  position: relative;
  padding: 10px 10px;
  border: 1px solid gray;
  margin: 5px 5px;
  cursor: pointer;
}

.currency-body__all-items:hover {
  background: #3989c9;
  color: #fff;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  padding: 5px 5px;
  left: -100%;
  top: 0;
  background: #3989c9;
  color: #fff;
  padding: 0.5em;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

[data-tooltip]:hover::after {
  opacity: 1;
  top: -50px;
}

[data-tooltip-all]::after {
  content: attr(data-tooltip-all);
  position: absolute;
  padding: 5px 5px;
  left: 0%;
  top: 0;
  background: #3989c9;
  color: #fff;
  padding: 0.5em;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

[data-tooltip-all]:hover::after {
  opacity: 1;
  top: -50px;
}

/* Large desktops and laptops */
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .currency-body__all-currency-wrapper {
    width: 100vw;
    height: 90vh;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .currency-body__all-currency-wrapper {
    width: 100vw;
    height: 90vh;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .currency-body__all-currency-wrapper {
    width: 100vw;
    height: 90vh;
  }
  .currency-body {
    width: 100vw;
    height: 100vh;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .currency-body__all-currency-wrapper {
    width: 100vw;
    height: 100vh;
  }
  .currency-body {
    width: 100vw;
    height: 100vh;
  }
}

/* Iphone 5 */
@media (max-width: 320px) {
  .currency-body__all-currency-wrapper {
    width: 100vw;
    height: 100vh;
  }
}
