@import "zerostyle.scss";

$heightTxt: 2em;

.wrapper-all {
  position: relative;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.currency-body {
  position: relative;
  width: 50vw;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.currency-body__wrapper-currency-value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 10px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  h2 {
    padding: 5px 0px;
  }
}

.currency-body__wrapper-currency-rate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 10px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  h2 {
    padding: 5px 0px;
  }
}

.currency-body__wrapper-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.currency-body__input-btn {
  position: relative;
  padding: 10px 15px;
  border: 1px solid grey;
  background-color: white;
  cursor: pointer;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  &:hover {
    background: #3989c9;
    color: #fff;
  }
}

.currency-body__rate-btn {
  position: relative;
  padding: 10px 15px;
  border: 1px solid grey;
  background: white;
  cursor: pointer;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  &:hover {
    background: #3989c9;
    color: #fff;
  }
}

.btn_active {
  background: #3989c9;
  color: #fff;
}

.currency-body__currency-input {
  position: relative;
  margin: 10px 0px;
  font-size: $heightTxt;
  border: 1px solid grey;
  padding: 0px 5px;
}

.currency-body__wrapper-rate {
  display: flex;
  justify-content: center;
  align-items: center;
}

.currency-body__view-rate {
  margin: 10px 0px;
  border: 1px solid grey;
  font-size: $heightTxt;
  padding: 3px 5px;
  min-height: 36px;
}

.currency-body__currency-curse-input {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.currency-body__currency-curse-rate {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.currency-body__all-currency-btn {
  padding: 10px 10px;
  margin-top: 10px;
  border: 1px solid grey;
  cursor: pointer;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  &:hover {
    background: #3989c9;
    color: #fff;
  }
}

.currency-body__arrow {
  width: 15%;
  height: 90%;
  background-image: url("../../img/icons/free-icon-exchange-1372789.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.currency-body__all-currency-wrapper {
  position: absolute;
  visibility: hidden;
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  z-index: 1;
  transform: scale(0);
  transition: 300ms;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.all-currency-active {
  visibility: visible;
  transform: scale(1);
  transition: 500ms;
}

.currency-body__all-items {
  position: relative;
  padding: 10px 10px;
  border: 1px solid gray;
  margin: 5px 5px;
  cursor: pointer;
  &:hover {
    background: #3989c9;
    color: #fff;
  }
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  width: 200px;
  left: -100%;
  top: 0;
  background: #3989c9;
  color: #fff;
  padding: 0.5em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  opacity: 0;
  transition: 1s;
}
[data-tooltip]:hover::after {
  opacity: 1;
  top: -50px;
}

[data-tooltip-all]::after {
  content: attr(data-tooltip-all);
  position: absolute;
  width: 200px;
  left: 0%;
  top: 0;
  background: #3989c9;
  color: #fff;
  padding: 0.5em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  opacity: 0;
  transition: 1s;
}

[data-tooltip-all]:hover::after {
  opacity: 1;
  top: -50px;
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .currency-body__all-currency-wrapper {
    width: 100vw;
    height: 90vh;
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .currency-body__all-currency-wrapper {
    width: 100vw;
    height: 90vh;
  }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .currency-body__all-currency-wrapper {
    width: 100vw;
    height: 90vh;
  }
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .currency-body__all-currency-wrapper {
    width: 100vw;
    height: 100vh;
  }
}
/* Iphone 5 */
@media (max-width: 320px) {
  .currency-body__all-currency-wrapper {
    width: 100vw;
    height: 100vh;
  }
}
