@import "zerostyle.scss";

$heightTxt: 2em;

.wrapper-all {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.currency-body {
  width: 50vw;
  height: auto;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  //   background-color: greenyellow;
}

.currency-body__arrow-change {
  width: 10%;
  height: 100%;
  border: 2px solid red;
}

.currency-body__wrapper-currency-value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.currency-body__wrapper-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.currency-body__input-btn {
  padding: 10px 15px;
  border: 1px solid grey;
  background-color: white;
  cursor: pointer;
}

.currency-body__rate-btn {
  padding: 10px 15px;
  border: 1px solid grey;
  background-color: white;
  cursor: pointer;
}

.currency-body__currency-input {
  margin: 10px;
  width: 100%;
  font-size: $heightTxt;

  border: 1px solid grey;
}

.currency-body__wrapper-rate {
  display: flex;
  justify-content: center;
  align-items: center;
}
.currency-body__view-rate {
  margin: 10px 0px;
  height: $heightTxt + 0.5;
  width: 100%;
  border: 1px solid grey;
}

.currency-body__currency-curse-input {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.currency-body__currency-curse-rate {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
